html { padding: 0; background: #fff url("../img/bg-canvas.png") 0 0 repeat-x; }
body.login { border: 0; background: transparent url("../img/bg-body.png") 54% 3em no-repeat; min-width: 960px; padding-top: 5.5em; font: .812em/1.538 Georgia, Times, serif; color: #333; }

#login { margin-top: 0; }

h1 { background: url("../img/logo-login.png") center top no-repeat; width: 310px; height: 200px; margin: 0 0 .5em 8px; overflow: hidden; }
h1 a { position: absolute; left: -999em; }

.login #backtoblog { position: absolute; top: 0; left: 0; width: 100%; color: #fff; height: 2em; background: transparent none; border: 0; }
.login #backtoblog a { top: .75em; color: #fff; }
.login #backtoblog a:hover, .login #backtoblog a:focus, .login #backtoblog a:active { text-decoration: underline; }

#loginform { border-color: #eee; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0 2px 3px rgba(0,0,0,.1); }